*
{
margin: 0px;
    }
body {
    
}
.container{
        width: 1200px;
        margin: 0 12;
        margin: 0 initial;
        margin: 0 auto;
        overflow: hidden;
}
.resume h1{}


